# Backend
backend/uploads/
backend/.env
**/__pycache__/
backend/.pytest_cache/
backend/*.pyc
backend/venv/
backend/.venv/

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log
frontend/yarn-debug.log
frontend/yarn-error.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
